.container{
    flex:1;
    height:100%;
    background:#f1f1f1;
    position: relative;
    overflow: hidden;
    .canvas{
        width:500px;
        height:400px;
        background: #fff;
        position: absolute;
        top:10px;
        left:10px;
        z-index:1;
    }
}